/* ----------google fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
}

nav{
    background-color: #562EFF;
    color: white;
}
nav a{
    color: white;
}

.menubars{
    margin: auto;
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-menu{
    font-size: 20px;
}
.idea{
    font-size: 50px;
}
.left-menu{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.left-menu h2{
    font-weight: 500;
}
.menubar ul li{
    list-style: none;
    text-decoration: none;
}
.menubar ul li a{
    text-decoration: none;
    font-size: 1.2em;
}
.menubar ul{
    display: flex;
    column-gap: 30px;
    align-items: center;
}











    /*----------------------------------
    Making Responsive with media query 
    ----------------------------------*/

    @media only screen and (max-width:688px) {
        .menubars{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .menubar ul{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
            padding-inline-start: 0px;
        }
    }
    @media  only screen and (min-width:689px) and (max-width:992px){
        .menubars{
            width: 80%;
        }
    }