/* ----------google fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    background-color: #F3F1FF;
    margin: 0px;
}

/* ----------Menu Sections--------- */
nav{
    background-color: #562EFF;
    color: white;
}
nav a{
    color: white;
}

.menubars{
    margin: auto;
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-menu{
    font-size: 20px;
}
.idea{
    font-size: 50px;
}
.left-menu{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.left-menu h2{
    font-weight: 500;
}
.menubar ul li{
    list-style: none;
    text-decoration: none;
}
.menubar ul li a{
    text-decoration: none;
    font-size: 1.2em;
}
.menubar ul{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

/* ----------Top Players--------- */

.container{
    width: 820px;
    margin: auto;
    background-color: white;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-bottom: 40px;
}
.container h3{
    font-size: 1.4em;
    color: #562EFF;
    padding-bottom: 20px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.top-player img{
    width: 52px;
    height: 52px;
}
.top-player {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 0.8em;
    width: 90%;
}
hr{
    border: 1px solid grey;
    margin: 30px 0px;
}

/* ----------Top Blogs--------- */
#blog-heading{
    padding-bottom: 0px;
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.top-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.top-blog img{
    width: 177px;
    height: 117px;
}
.blog{
    width: 80%;
}
.blog p{
    font-weight: 600;
    color: grey;
}
.blog a{
    text-decoration: none;
    font-size: 1.2em;
}









    /*----------------------------------
    Making Responsive with media query 
    ----------------------------------*/

    @media only screen and (max-width:688px) {
        .menubars{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .menubar ul{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
            padding-inline-start: 0px;
        }
        .container{
            width: 75%;
            box-shadow: 0px 0px 15px 3px orange;
        }
        .top-players{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
        .top-player {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .top-blogs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    @media  only screen and (min-width:689px) and (max-width:992px){
        .menubars{
            width: 80%;
        }
        .container{
            width: 80%;
        }
        .top-blogs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:unset;
        }
    }